:root {
  --border-color: rgb(231, 48, 161);
}

* {
  box-sizing: border-box;
}

.page {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  font-size: 16px;
}

.field-name {
  margin-top: 10px;
  margin-bottom: 3px;
}

.field-name.first {
  margin-top: 0;
  margin-bottom: 3px;
}

.form {
  width: 500px;
  padding: 20px;
  margin: 0 auto;

  border: 1px solid rgb(184, 184, 184);
  border-radius: 3px;
}

.label {
  display: block;
}

.list {
  margin: 0;
  padding-left: 5px;
  list-style: none;
}

.theme.list {
  display: flex;
}

.theme-option {
  margin-right: 10px;
}

.label.checkbox,
.label.radio {
  display: flex;
  align-items: center;
}

.option {
  color: grey;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 3px;
  color: var(--border-color);
}

.input::placeholder {
  color: rgb(184, 184, 184);
}

.input:focus {
  border-color: var(--border-color);
  outline: none;
}

/* Styles of radio-buttons */

.input-radio {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.radio-option:before {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-25%);
  display: inline-block;
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgb(184, 184, 184);
}

.input-radio:checked + .radio-option:before {
  background-image: url("../images/radio.svg");
  background-size: cover;
  background-color: var(--border-color);
  background-origin: border-box;
  border-color: var(--border-color);
}

.input-radio:focus + .radio-option:before {
  border: 1px solid var(--border-color);
}

/* Styles of checkboxes list */
.input-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-option:before {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-25%);
  width: 11px;
  height: 11px;
  content: "";
  display: inline-block;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 3px;
}

.checkbox-option {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.input-checkbox:checked + .checkbox-option:before {
  background-image: url("../images/checkbox.svg");
  background-color: var(--border-color);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--border-color);
}

.input-checkbox:focus + .checkbox-option:before {
  border: 1px solid var(--border-color);
}

.input.date {
  font-family: inherit;
  font-size: 13.3px;
  color: rgb(184, 184, 184);
}

.input.textarea {
  resize: none;
  font-family: inherit;
}

/* Styles policy checkbox and field */
.policy-field {
  display: flex;
  justify-content: center;
}

.policy-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.policy-label:before {
  position: absolute;
  top: 50%;
  transform: translate(-120%, -50%);
  width: 11px;
  height: 11px;
  content: "";
  display: inline-block;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 3px;
}

.policy-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.policy-checkbox:checked + .policy-label:before {
  background-image: url("../images/checkbox.svg");
  background-color: var(--border-color);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--border-color);
}

.policy-checkbox:focus + .policy-label:before {
  border: 1px solid var(--border-color);
}

/* Styles of the button */
.button {
  padding: 10px;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--border-color);
  border-color: var(--border-color);
  color: rgb(255, 255, 255);
  box-shadow: 1px 2px 2px rgb(158, 158, 158), -1px 3px 2px rgb(158, 158, 158);
}

.button-field {
  display: flex;
  justify-content: center;
  padding: 10px;
}
